{% extends "common/base.html" %}

{% block content %}

    {% if form.errors %}
        <div class="row">

            <div style="margin: auto">
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <h4 class="alert-heading">Ошибка!
                        <br>
                    </h4>
                    <p class="mb-0">Неверный логин или пароль.</p>
                </div>
            </div>


        </div>
    {% endif %}

    <div class="row">
            <div class="card text-white p-5 bg-primary" style="margin: auto">
                <div class="card-body">
                    <h3 class="mb-4">Вход</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Логин</label>
                            <input name="username" class="form-control" placeholder="Введите логин">
                        </div>
                        <div class="form-group">
                            <label>Пароль</label>
                            <input name="password" type="password" class="form-control" placeholder="Введите пароль">
                        </div>
                        <button type="submit" class="btn btn-secondary">Войти
                            <br></button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}