{% extends 'common/base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                        <h4 class="alert-heading">Успех
                            <br>
                        </h4>
                        <p class="mb-0">{{ message }}</p>
                    </div>
                </div>

                <div class="col-md-3"></div>
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <div class="card p-5">
                <div class="card-body">
                    <h1 class="mb-4">Генерация пароля</h1>

                    <form method="post">
                        {% csrf_token %}


                        <div class="form-group">
                            <label>Пароль</label>
                            <div class="input-group">

                                <input type="text" class="form-control" placeholder=""
                                       name="{{ form.password_value.name }}"
                                       value="{{ form.password_value.value }}" required
                                >

                                <div class="input-group-btn">
                                    <button class="btn btn-secondary" type="button">Сгенерировать</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Годен до</label>

                            <input type="date" class="form-control" placeholder="Text"
                                   name="{{ form.expiration_date.name }}"
                                   value="{{ form.expiration_date.value|date:"Y-m-d" }}"
                                   required
                            >

                        </div>

                        <button type="submit" class="btn btn-primary">Сохранить</button>

                    </form>


                </div>
            </div>


        </div>

        <div class="col-md-3"></div>

    </div>

{% endblock %}